html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: monospace;
  color: whitesmoke;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


.read-the-docs {
  color: #888;
}


.movePad {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(19, 31, 31);
  border: 2px solid rgb(25, 24, 24);
}

.movePad-row {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  padding: 5px;
  gap: 5px;
}

.moveButton {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(29, 43, 43);
  color: darkgoldenrod;
  border: 3px solid darkgoldenrod;
}

.moveButton:active {
  background-color: rgb(68, 93, 93);
  position: relative;
  top: 2px;
  left: 1px;
}

.intro-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #100e0e;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.runner-intro {
  position: absolute;
  width: 150px;
  height: 150px;
}

.runner-intro img {
  height: 100%;
  width: auto;
}

.cover-container {
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: absolute;
  background-color: #0e0b2580;
  border-radius: 20px;
  border: 5px solid whitesmoke;
  box-shadow: 10px 10px 5px 5px black;
}

.omit-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: transparent;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  padding: 5px;
}

.glass {
  backdrop-filter: blur(50px);
}

main{
  background-color: #1094a5;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10px;
}

.runner1face {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25vw;
  height: auto;
}

.start-button {
  background-color: #083c58;
  width: 200px;
  height: 75px;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  font-size: 2rem;
  animation: 2s ease-in-out infinite start-button-animation;
}

@keyframes start-button-animation {
  0% {
    scale: 1.1;
  }
  50% {
    scale: 1;
  }
  100% {
    scale: 1.1;
  }
}

.start-button:hover {
  animation-play-state: paused;
  scale: 1.1;
  cursor: pointer;
}

.config-container {
  height: 90vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: absolute;
  background-color: #0e0b2580;
  border-radius: 20px;
  border: 5px solid whitesmoke;
  box-shadow: 10px 10px 5px 5px black;
  color: whitesmoke;
}

.config-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.configTitle {
  color: rgb(238, 203, 3);
  margin-top: 0;
}

.config-card {
  background-color: #100e0e7f;
  border-radius: 10px;
  box-shadow: 5px 5px 2.5px 2.5px black;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 35vw;
  min-width: 200px;
  margin: 0 10px 10px;
}

.arrow-button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: black;
  color: whitesmoke;
  z-index: 10;
}

.arrow-button:active {
  background-color: rgb(71, 69, 66);
}

.config-button {
  background-color: #100e0e;
  color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.5rem;
  margin-right: 10px;
}

.config-final {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.final-configTitle {
  color: rgb(86, 2, 2);
}

.config-final h3 {
  color: rgb(238, 203, 3);
  font-size: 1.3rem;
}

.final-config-card {
  background-color: #100e0e7f;
  border-radius: 10px;
  box-shadow: 5px 5px 2.5px 2.5px black;
  margin: 5px 5px;
}


/*///////////////////game///////////////////////////////////////////*/



.game-container {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: rgb(39, 5, 5);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}

.map-container {
  width: 90vw;
  height: 70vh;
 /* border: 2px solid goldenrod;
  border-radius: 3px;*/
  overflow: hidden;
  background-color: aliceblue;
  position: relative;
}

#table-mover {
  position: relative;
}

.map-container .map-svg {
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
}

.char-container {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
}

.map-svg-top {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
 /*top model---------------------------------------------------------*/
.top-model {
  width: 100%;
  height: 10vh;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid whitesmoke;
  z-index: 7;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(111, 108, 9, 0.7);
}

.top-model-img {
  height: 8vh;
  width: auto;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

/*result model----------------------------------------------------------------------*/
.result-model-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(178, 179, 181, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-model {
  position: relative;
  background-color: #1094a5;
  z-index: 8;
  width: 80vw;
  height: 80vh;
  gap: 2rem;
  border-radius: 20px;
  border: 5px solid whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-model img {
  width: 50vw;
  height: auto;
}

.result-model h2 {
  font-size: 2rem;
}
.result-model p {
  font-size: 1.3rem;
}

.green {
  color: green;
}

.red {
  color: rgb(191, 0, 0);
}

.yellow {
  color: yellow;
}

/*count down model ----------------------------------*/
.count-down-model {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 7;
  background-color: #083c58df;
}

.count-down-model h2 {
  font-size: 2rem;
  color: goldenrod;
}

.count-down-model p {
  font-size: 5rem;
  margin-top: 1rem;
}